In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('banco_alugueis.csv',dtype = str)
df = df.drop(['Unnamed: 0'],axis=1)

In [3]:
df.head()

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,R$ 2.000 /Mês,2 Quartos,"Rua Comendador Miguel Calfat, 62 - Vila Nova C...",2 Banheiros,1 Vaga,56 m²,Vila Nova Conceição,"Rua Comendador Miguel Calfat, 62"
1,R$ 7.000 /Mês,2 Quartos,"Rua Volta Redonda, 757 - Campo Belo, São Paulo...",5 Banheiros,3 Vagas,276 m²,Campo Belo,"Rua Volta Redonda, 757"
2,R$ 1.100 /Mês,2 Quartos,"Avenida do Oratório, 5923 - Jardim Ângela (Zon...",2 Banheiros,1 Vaga,122 m²,Jardim Ângela (Zona Leste),"Avenida do Oratório, 5923"
3,R$ 800 /Mês,1 Quarto,"Rua Gomes de Carvalho, 1005 - Vila Olímpia, Sã...",1 Banheiro,1 Vaga,30 m²,Vila Olímpia,"Rua Gomes de Carvalho, 1005"
4,R$ 5.200 /Mês R$ 1.249.000,2 Quartos,"Rua Nova York - Brooklin Paulista, São Paulo - SP",2 Banheiros,1 Vaga,71 m²,Brooklin Paulista,Rua Nova York

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7164 entries, 0 to 7163
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aluguel   7164 non-null   object
 1   quartos   7164 non-null   object
 2   endereco  7164 non-null   object
 3   banheiro  7164 non-null   object
 4   vaga      7164 non-null   object
 5   area      7164 non-null   object
 6   bairro    7164 non-null   object
 7   rua       7164 non-null   object
dtypes: object(8)
memory usage: 447.9+ KB

In [5]:
df['area'] = df['area'].str.extract('(.*) m²')

In [6]:
df.head()

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,R$ 2.000 /Mês,2 Quartos,"Rua Comendador Miguel Calfat, 62 - Vila Nova C...",2 Banheiros,1 Vaga,56,Vila Nova Conceição,"Rua Comendador Miguel Calfat, 62"
1,R$ 7.000 /Mês,2 Quartos,"Rua Volta Redonda, 757 - Campo Belo, São Paulo...",5 Banheiros,3 Vagas,276,Campo Belo,"Rua Volta Redonda, 757"
2,R$ 1.100 /Mês,2 Quartos,"Avenida do Oratório, 5923 - Jardim Ângela (Zon...",2 Banheiros,1 Vaga,122,Jardim Ângela (Zona Leste),"Avenida do Oratório, 5923"
3,R$ 800 /Mês,1 Quarto,"Rua Gomes de Carvalho, 1005 - Vila Olímpia, Sã...",1 Banheiro,1 Vaga,30,Vila Olímpia,"Rua Gomes de Carvalho, 1005"
4,R$ 5.200 /Mês R$ 1.249.000,2 Quartos,"Rua Nova York - Brooklin Paulista, São Paulo - SP",2 Banheiros,1 Vaga,71,Brooklin Paulista,Rua Nova York

In [7]:
df['vaga'] = df['vaga'].str.extract('(.*) Vaga')
df['banheiro'] = df['banheiro'].str.extract('(.*) Banheiro')
df['quartos'] = df['quartos'].str.extract('(.*) Quarto')

In [8]:
df.head()

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,R$ 2.000 /Mês,2,"Rua Comendador Miguel Calfat, 62 - Vila Nova C...",2,1,56,Vila Nova Conceição,"Rua Comendador Miguel Calfat, 62"
1,R$ 7.000 /Mês,2,"Rua Volta Redonda, 757 - Campo Belo, São Paulo...",5,3,276,Campo Belo,"Rua Volta Redonda, 757"
2,R$ 1.100 /Mês,2,"Avenida do Oratório, 5923 - Jardim Ângela (Zon...",2,1,122,Jardim Ângela (Zona Leste),"Avenida do Oratório, 5923"
3,R$ 800 /Mês,1,"Rua Gomes de Carvalho, 1005 - Vila Olímpia, Sã...",1,1,30,Vila Olímpia,"Rua Gomes de Carvalho, 1005"
4,R$ 5.200 /Mês R$ 1.249.000,2,"Rua Nova York - Brooklin Paulista, São Paulo - SP",2,1,71,Brooklin Paulista,Rua Nova York

In [9]:
df['aluguel'] = df['aluguel'].str.extract('R\$ (.*) /Mês')
df['aluguel'] = df['aluguel'].replace('\.', '', regex=True)
df.head()

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,2000,2,"Rua Comendador Miguel Calfat, 62 - Vila Nova C...",2,1,56,Vila Nova Conceição,"Rua Comendador Miguel Calfat, 62"
1,7000,2,"Rua Volta Redonda, 757 - Campo Belo, São Paulo...",5,3,276,Campo Belo,"Rua Volta Redonda, 757"
2,1100,2,"Avenida do Oratório, 5923 - Jardim Ângela (Zon...",2,1,122,Jardim Ângela (Zona Leste),"Avenida do Oratório, 5923"
3,800,1,"Rua Gomes de Carvalho, 1005 - Vila Olímpia, Sã...",1,1,30,Vila Olímpia,"Rua Gomes de Carvalho, 1005"
4,5200,2,"Rua Nova York - Brooklin Paulista, São Paulo - SP",2,1,71,Brooklin Paulista,Rua Nova York

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7164 entries, 0 to 7163
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aluguel   7164 non-null   object
 1   quartos   7164 non-null   object
 2   endereco  7164 non-null   object
 3   banheiro  7164 non-null   object
 4   vaga      7164 non-null   object
 5   area      7164 non-null   object
 6   bairro    7164 non-null   object
 7   rua       7164 non-null   object
dtypes: object(8)
memory usage: 447.9+ KB

In [11]:
cols = df.columns.drop(['endereco','bairro','rua'])

In [12]:
cols

Index(['aluguel', 'quartos', 'banheiro', 'vaga', 'area'], dtype='object')

In [13]:
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7164 entries, 0 to 7163
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aluguel   7164 non-null   int64
 1   quartos   7164 non-null   int64
 2   endereco  7164 non-null   object
 3   banheiro  7164 non-null   int64
 4   vaga      5972 non-null   float64
 5   area      7164 non-null   int64
 6   bairro    7164 non-null   object
 7   rua       7164 non-null   object
dtypes: float64(1), int64(4), object(3)
memory usage: 447.9+ KB

In [15]:
df.isnull().sum()

aluguel        0
quartos        0
endereco       0
banheiro       0
vaga        1192
area           0
bairro         0
rua            0
dtype: int64

In [16]:
df = df.fillna(0)

In [17]:
df.isnull().sum()

aluguel     0
quartos     0
endereco    0
banheiro    0
vaga        0
area        0
bairro      0
rua         0
dtype: int64

In [18]:
df.head()

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,2000,2,"Rua Comendador Miguel Calfat, 62 - Vila Nova C...",2,1.0,56,Vila Nova Conceição,"Rua Comendador Miguel Calfat, 62"
1,7000,2,"Rua Volta Redonda, 757 - Campo Belo, São Paulo...",5,3.0,276,Campo Belo,"Rua Volta Redonda, 757"
2,1100,2,"Avenida do Oratório, 5923 - Jardim Ângela (Zon...",2,1.0,122,Jardim Ângela (Zona Leste),"Avenida do Oratório, 5923"
3,800,1,"Rua Gomes de Carvalho, 1005 - Vila Olímpia, Sã...",1,1.0,30,Vila Olímpia,"Rua Gomes de Carvalho, 1005"
4,5200,2,"Rua Nova York - Brooklin Paulista, São Paulo - SP",2,1.0,71,Brooklin Paulista,Rua Nova York